@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.copyright {
    font-family: 'LINESeedKR-Bd';
    font-size:10px;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.7);
}