@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.ToDoItem {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content:start;
    align-items: center;
    font-family: 'LINESeedKR-Bd';
    font-size: 20px;
}

.checkbox {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 400px;
}

.remove {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
}

